.logo {
  height: 2rem;
  width: 2rem;
}

.close-button {
  position: absolute;
  margin-left: 30.1rem;
  margin-top: 0.2rem;
}

.close-icon {
  transition: 1s ease-in-out;
}

.fixtureTable {
  min-width: 40rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.back-btn {
  float: right;
  margin: 1rem;
}
